table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 30px 0;
}

table th {
    background-color: lightskyblue;
}

table tr:nth-child(odd) {
    background-color: lightblue;
}

table td {
    padding: 5px;
}